{% extends 'base/base.html' %}
{% load static %}
{% load socialaccount %}
{% block title %} Home {% endblock %}
{% block head %}

{% endblock %}

{% block content %}

<header class="header">
    <div class="container">
        <div class="hero" id="Hero">

            <div class="hero-text">
                <h1 class="hero-text__main">Quiz-A-Preneur</h1>

                <p class="hero-text__subs">
                    <br> This competition would not only test your knowledge and promptness but would surely instill the feeling of being an entrepreneur-dodging and answering complicated questions for a living.
                    <br>Don't miss out on this opportunity, register today!
                </p>
                    {% if request.user.is_authenticated %}
                    <div class="container-timer">
                        <h1 id="headline">Quiz Begins in:</h1>

                        <div id="counter">
                            <ul>
                                <li><span id="days"></span>days</li>
                                <li><span id="hours"></span>Hrs</li>
                                <li><span id="mins"></span>Mins</li>
                                <li class="hidden " style="
                                display: none;
                                width: 0;
                                height: 0;
                            " id="time_diff">{{time_diff}}</li>
                                <li><span id="seconds"></span>Sec</li>
                            </ul>
                        </div>
                    </div> 
                    
                    {% else %}
                    <a class="hero-text__btn" href="{% provider_login_url 'google' %}">
                        <p>
                            Register
                        </p>
                    </a>
                    {% endif %}


            </div>
                <!-- Vector -->
                <div class="hero-image">
                    <img class="hero-image__main" src="{% static 'assets/Artboard 1_chalk.png'%}" alt="Images">
                </div>
        </div>
    </div>
</header>


<main class="main">

    <!-- Rules -->
    <section class="about" id="Rules">
        <div class="container">
            <div class="about-image">
                <img class="about-image__main" src="{% static 'assets/Artboard 2_chalk.png'%}" alt="Images">
            </div>
            <div class="about-text">
                <h1 class="about-text__main">RULES</h1>
                <p class="about-text__subs">
                    <div>Time limit:</div>  
                    The quiz will have a set time limit, and participants must complete all questions within that time. Timer will start as soon as the participant begins the quiz.
                    <br><br>
                    <div>Question format:</div>
                    The questions will be multiple choice and/or images/text based.
                    <br><br>
                    <div>Participants:</div>
                    This quiz is for students of classes 8th to 12th.
                    <br><br>
                    <div>Scoring:</div>
                    Points will be awarded for each correct answer. The total number of points possible will be indicated on the website.
                    <br><br>
                    <div>Cheating:</div>
                    Any attempt to cheat or manipulate the quiz results will result in immediate disqualification. This includes using external sources such as search engines or accessing the quiz website through multiple devices.
                    <br><br>
                    <div>Technical issues:</div>
                    In the event of technical difficulties, participants must inform the quiz administrator as soon as possible. The administrator will determine if the participant will be allowed to continue the quiz or if a restart is necessary.
                    <br><br>
                    <div>Prize:</div>
                    A prize will be awarded to the participant with the highest score at the end of the quiz. The prize will be clearly stated on the website.
                    <br><br>
                    <div>Changes: </div>
                    The quiz administrator reserves the right to change these rules at any time without prior notice.
                </p>
            </div>
        </div>
    </section>


    <!-- Prizes -->
    <section class="service">
        <div class="blur"></div>
        <h1 class="prize-title">Prizes</h1>
        <div class="commingSoon-center">Coming Soon!</div>

        <!-- <div class="container">
            <div class="flex-cards">
                <div class="card card-1">
                    <div class="card-image">
                        <img src="{% static 'assets/2nd.png'%}" alt="Images">
                    </div>
                    <div class="card-text">
                        <h2 class="card-text__title">Adipisicing elit</h2>
                        <p class="card-text__subs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, quaerat?
                        </p>
                    </div>
                </div>

                
                <div class="card card-2">
                    <div class="card-image">
                        <img src="{% static 'assets/1st.png'%}" alt="Images">
                    </div>
                    <div class="card-text">
                        <h2 class="card-text__title">Dolores distinctio</h2>
                        <p class="card-text__subs">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, ad!</p>
                    </div>
                </div>
            </div>


            <div class="card card-3">
                <div class="card-image">
                    <img src="{% static 'assets/3rd.png'%}" alt="Images">
                </div>
                <div class="card-text">
                    <h2 class="card-text__title">incidunt tempore</h2>
                    <p class="card-text__subs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit,
                        praesentium?
                    </p>
                </div>
            </div>
        </div> -->


    </section>
</main>




{% endblock %}