* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  z-index: 20;
  position: fixed;
  /* max-width: 65rem; */
  right: 0rem;
  /* position: relative; */
  justify-content: space-between;
  align-items: center;
  /* background-color: #333; */
  color: white;
  /* transition: all 0.5s;   */
}

.bg_image {
  background-image: url("/static/assets/chalk-navbar.png");
  background-color: transparent;
  background-size: 100% 100%;
}

.brand-title {
  /* font-size: 1.5rem; */
  /* margin: 0.5rem; */
}
.brand-title a img {
  width: 130px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li a:hover {
  color: #006aff;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background-image: url("/static/assets/chalk_burger.png");
  background-color: transparent;
  background-size: 100% 100%;
  border: 0;
}
.toggle-button:hover {
  background-image: url("/static/assets/chalk_burger_hover.png");
  background-color: transparent;
  background-size: 100% 100%;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  /* background-color: white; */
  border-radius: 10px;
}
.nav-open-bg {
  background-image: url("/static/assets/chalk-navbar_open.png");
  background-color: transparent;
  background-size: 100% 100%;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
    background-color: transparent;
  }
  /* .toggle-button span {
    background-image: url("/static/assets/chalk_burger_span.png");
    background-color: transparent;
    background-size: 100% 100%;
  }
  .toggle-button span:hover {
    background-image: url("/static/assets/chalk_burger_span_hover.png");
    background-color: transparent;
    background-size: 100% 100%;
  } */

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: left;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
    background-image: none;
  }
}

/* Background Styles Only */

/* @import url("https://fonts.googleapis.com/css?family=Raleway");

* {
  font-family: Raleway;
}

html {
  background-color: #dfdfdf;
}

.side-links {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.side-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  width: 180px;
  padding: 10px 0;
  border-radius: 10px;
}

.side-link-youtube {
  background-color: red;
}

.side-link-twitter {
  background-color: #1da1f2;
}

.side-link-github {
  background-color: #6e5494;
}

.side-link-text {
  margin-left: 10px;
  font-size: 18px;
}

.side-link-icon {
  color: white;
  font-size: 30px;
} */
