@import url("https://fonts.googleapis.com/css?family=Walter+Turncoat");
* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "Walter Turncoat", cursive;
}
body {
  background-image: url("https://assets.codepen.io/3351103/black-board.jpg");
  color: white;
}
h1 {
  color: #fff;
  text-align: center;
  margin-top: 130px;
}
h1.member {
  margin-top: 45px;
}
.container {
  /* background-color: rgba(255, 255, 255, 0.6); */
  width: 80%;
  height: auto;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  /* margin-top: 40px; */
}
.profileIcon {
  background-image: url("/static/assets/chalk_profile.png");
  background-color: transparent;
  background-size: 100% 100%;
  margin: auto;
  width: 300px;
  height: 300px;
}
form {
  width: 60%;
  background-image: url("/static/assets/profile_chalk.png");
  background-color: transparent;
  background-size: 100% 100%;
}
form input {
  background-image: url("/static/assets/chalk_profile_field.png");
  background-color: transparent;
  background-size: 100% 100%;
  color: white;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="color"],
input[type="number"] {
  box-sizing: border-box;
  width: 300px;
  height: 45px;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 15px;
  /* background-image: url("https://res.cloudinary.com/mamo/image/upload/c_scale,w_40/v1475961978/Contacts-Filled-50_qrzhh1.png"); */
  background-repeat: no-repeat;
  padding: 12px 20px 12px 60px;
}
input[name="Name"] {
  background-image: url("/static/assets/chalk_profile_field_name.png");
  background-color: transparent;
  background-size: 100% 100%;
}
input[name="School"] {
  background-image: url("/static/assets/chalk_profile_field_school.png");
  background-color: transparent;
  background-size: 100% 100%;
}
input[name="Class"] {
  background-image: url("/static/assets/chalk_profile_field_class.png");
  background-color: transparent;
  background-size: 100% 100%;
}
input[name="City"] {
  background-image: url("/static/assets/chalk_profile_field_city.png");
  background-color: transparent;
  background-size: 100% 100%;
}
input[name="Phone"] {
  background-image: url("/static/assets/chalk_profile_field_phone.png");
  background-color: transparent;
  background-size: 100% 100%;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-image: url("/static/assets/chalk_profile_button.png");
  background-color: transparent;
  background-size: 100% 100%;
  color: white;
  padding: 10px, 15px;
  cursor: pointer;
  width: 148px;
  height: 45px;
  margin-bottom: 20px;
  transition: all 0.2s;
}
input[type="submit"]:hover {
  background-image: url("/static/assets/chalk_profile_button_hover.png");
}
select {
  width: 300px;
  height: 45px;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 15px;
}
input[type="checkbox"] {
  margin-bottom: 25px;
}
/*Media Queries Section*/
@media screen and (max-width: 800px) {
  .profileIcon {
    display: none;
  }
  .container {
    width: 70%;
  }
  form {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  h1 {
    margin-top: 30px;
  }
  .container {
    width: 90%;
    padding: 0 5%;
  }
}
@media screen and (max-width: 332px) {
  .container {
    height: auto;
    /* background-color: rgba(255, 255, 255, 0.4); */
  }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="date"],
  input[type="color"],
  select {
    width: 275px;
    height: auto;
  }
  input[type="button"],
  input[type="submit"],
  input[type="reset"] {
    width: 150px;
    height: 30px;
  }
  input[type="checkbox"] {
    line-height: -50px;
  }
  input[type="color"] {
    height: 40px;
  }
  p {
    line-height: 1px;
  }
}
