{% load static %}
{% load socialaccount %}
<footer class="footer">
    <div class="container">
        <div class="footer-menu">
        <ul class="footer-menu__item">
            <li><a href="#" class="footer-menu__link">Home</a></li>
            <li><a href="#" class="footer-menu__link">About</a></li>
            <li><a href="#" class="footer-menu__link">Service</a></li>
            <li><a href="#" class="footer-menu__link">Contact</a></li>
        </ul>
        </div>
        <div class="footer-copy">
        <p>&copy; Copyright 2023 - All Right Reserved</p>
        </div>
    </div>
</footer>