{% load static %}
{% load socialaccount %}
<!-- <header class="header">
    <div class="container">
        <nav class="nav">
        <div class="nav-logo">
            <a href="index.html" class="nav-logo__link" title="logo">Quiz-A-Preneur | EDC</a>
        </div>
        <div class="nav-menu">
            <ul class="nav-menu__item">
            <li><a href="home.html" class="nav-menu__link">Home</a></li>
            <li><a href="#" class="nav-menu__link">About</a></li>
            <li><a href="quiz.html" class="nav-menu__link">Quiz</a></li>

            {% if user.is_authenticated %}
            <li><a href="loginPage.html" class="nav-menu__link">Profile</a></li>
            {% else %}
            <li><a href="profile.html" class="nav-menu__link">Login</a></li>
            {% endif %}
            </ul>
        </div>
        </nav>

    </div>
  </header> -->
<header class="header">
  <div class="container">
    <nav class="navbar bg_image" id="navbar">
      <div class="brand-title">Quiz-A-Preneur</div>
      <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <div class="navbar-links">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </nav>

  </div>
</header>

